@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


.top-nav-bg{
    background-color: #ffb34f;
}

.top-nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}
@media only screen and (max-width:480px){
    .top-nav{
        gap: 1rem;
        flex-direction: column;
    }
}

.top-nav i::before{
    font-size: 1.125rem;
    color: #fff;
}

.top-nav-left, .top-nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-info{
  display: flex;
  gap: 0.625rem;
}
.form-floating{
  width: 100% !important;
}
@media only screen and (max-width:575px){
  .user-info{
    flex-direction: column;
    gap: 0;

  }
}
@media only screen and (max-width:480px){
    .top-nav-left, .top-nav-right{
        gap: 0.5rem;
        flex-direction: column;
    }

}
.top-nav-text{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.top-nav-text a{
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
}
.social{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-links{
    line-height: 1;
}
.social-links i::before{
    font-size: 1.125rem;
}


.nav-link{
    color: #42495b;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 1rem !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
    border: none;
    border-radius: 0;
    padding:.75rem 1rem !important;
}
.dropdown-item{
    font-size: 1rem !important;
    font-weight: 500;
}
.dropdown-item:hover{
    background-color: #fff;
    color: #d887d0;
    font-weight: 600;
}
@keyframes fadeInUp{
    0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
        }
    
        100% {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
}


.slider {
    background-color: #f8f8f8;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-text {
    text-align: center;
    color: #42495b;

  }
  
  .slider-text h2 {
    font-size: 42px;
    letter-spacing: -1.5px;
    font-weight: 700;
    color: #42495b;
    font-family: "Montserrat";

  }
  .breadcrumb{
    display:inline-flex;
    padding: 10px;
   
}
.breadcrumb-item a{
text-decoration: none;
color: #42495b;
font-size: 14px; 
font-family: "Open Sans";
font-weight: 600;
}
.breadcrumb a:hover {
  color:#ffb34f;
  transition: 0.2s;
}





/* ENDSidebar */

.randevu h2{
  font-family: "Roboto",sans-serif;
  font-weight: normal;
  font-size: 2.285em;
  letter-spacing: -1.5px;
  color: #42495b;
  line-height: 1.25;
}

.form-floating{
  color: #42495b;
  font-size: 16px;
  font-family: "Roboto",sans-serif;

}



 
 /* Footer */

 footer {
  background-color: #151948;
  color: #fff;
  font-size: 16px;
  padding: 3rem 0 0;
}
.footer-bottom-text{
  padding: 2rem 0;
  border-top:2px solid #42495b;
  width: 100%;
}
/* .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
} */
.help-links li{
  font-size: "Open Sans";
  font-weight: 600;

}
.contact-info,
.help-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3px;
}

.contact-info li,
.help-links li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #c1c2d0;

  
}

.contact-info li i,
.help-links li a {
  color: #c1c2d0;
  font-size: 14px;
}

.contact-info li:last-child,
.help-links li:last-child {
  margin-bottom: 0;
}
.help-links a {
  text-decoration: none;
}
.help-links a:hover {
  text-decoration: none;
  color: #ffb34f;
  transition: 0.3s;
}

footer h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

footer p {
  margin: 0;
  text-align: center;
}
.p-4 {
  padding: 0 4rem;
}
@media only screen and (max-width: 1450px) {
  .p-8 {
    padding: 0 8rem;
  }
  .card-title {
    font-size: 15.992px;
  }
}
@media only screen and (max-width: 1210px) {
  .card-mobile {
    min-width: 245px;
  }
}
@media only screen and (max-width: 480px) {
  .p-4 {
    padding: 0 2rem;
  }
  .card-mobile {
    min-width: 100%;
  }
  .fark覺m覺z-paragraf {
    padding: 0 0.875rem 0;
    text-align: justify;
  }
  .fark覺m覺z-nedir h2 {
    padding: 1rem 0 0 1rem;
    font-size: 36px;
  }
  .neden-tercih-paragraf,
  .neden-tercih {
    padding: 0 0.875rem 0;
    text-align: justify;
  }
}
.slider-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0.7;
}
.splide{
  max-width: 50rem;
}
.slider-items {
  display: block;
  width: 100%;
  min-height: auto;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.each-slider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 6rem;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0,1);
      -moz-box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0,1);
      box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0,1);
}
@media only screen and (max-width:480px){
  .each-slider{
    padding: 3rem;
  }
    .each-slider p {
      font-size: 16px;
    }
}
.each-slider p{
  font-size: 18px;
  margin-bottom: 30px;
  color: #c1c2d0;
  text-align: justify;
  
}
@media only screen and (max-width:480px) {
  .each-slider p {
    font-size: 16px;
  }
}
.slider-user{
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width:480px) {
  .slider-user { 
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
.user-info{
  display: flex;
  gap:1.375rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

}
.user-info img{
  border-radius: 50%;
}
.username{
      font-weight: 700;
        font-size: 18px;
        color: #42495b;
        letter-spacing: 1.1px;
}
.user-partner{
      color: #a0a0a0;
        font-size: 18px; 
        letter-spacing: 1.1px;
}
.stars-info{
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  filter: drop-shadow(3px 3px 5px #000);
}
.splide__pagination{
  display: none;
}
.splide__arrow{
  background-color: #ffffff;
  border: 2px solid #ffb34f;
  border-radius: 5px;
  width: 3em;
  height: 3em;
  padding: 5px;
}
@media only screen and (max-width:480px){
  .splide__arrow{
    width: 1.75em;
    height: 1.75em;
    padding: 8px;
  }
    .splide__arrow--next{
      right: 0;
    }.splide__arrow--prev{
      left: 0;
    }
}
.splide__arrow:hover{
  background-color: #ffb34f;
}
.from-you-img{
  background-image: url("../img/sizdengelenler.png");
  width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    position: relative;
}
.empty-line{
  display: inline-block;
  width: 100%;
  height: 8rem;
}
@media only screen and (max-width:480px){
  .contact-info,
    .help-links{
      grid-template-columns: repeat(1, 1fr);
    }
        footer{
          padding:0 1rem;
        }
    footer h4{
      margin-top: 16px;
    }
}
@media only screen and (max-width:768px){
  .destek-egitim-yazi a{
    padding: 1rem 0 0;
    text-align: center;
    font-size: 1rem;
  }
}
#searchResult li{
  list-style: none;
}
